.form {
  max-width: 400px;
}

.label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.input,
.select {
  display: block;
  width: 300px;
  padding: 5px;
  border: 1px solid silver;
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: 0.9rem;
}

.checkboxBox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
  font-size: 0.9rem;
}

.error {
  color: #a62626;
  font-size: 0.8rem;
  margin-top: -20px;
  margin-bottom: 20px;
}

.button {
  background-color: #a62626;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}
